.card {
  background: black;
  border: 0.5px solid #e0e0e0;
  border-radius: 52px;
  overflow: hidden;
}

.card img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: block;
  max-height: 140px;
}

.card-info {
  padding: 10px 12px 12px;
}

.card-info h3 {
  font-size: 200px;
  font-weight: 500;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}